<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<style>
    .my_btn {
       background-color: Lightslategray;
       color: white;
       border: none;
       width: 100px;
       height: 30px;
     }

</style>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <div align="right">
            <button class="my_btn" th:onclick="|location.href='@{/board/save}'|">글쓰기</button>
        </div>
        <table class="table table-striped">
            <thead>
            <tr style="text-align:center">
                <th>번호</th>
                <th>제목</th>
                <th>글쓴이</th>
                <th>작성일</th>
                <th>조회</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="form : ${result.dtoList}"
                th:style="${form.noticeYn == true} ?  'font-weight:bold' : '' ">
                <td th:text="${form.id}"
                    th:onclick="|location.href='@{/board/list/{id}(id=${form.id}, page=${result.page})}'|"></td>
                <td th:text="${form.title}"
                    th:onclick="|location.href='@{/board/list/{id}(id=${form.id}, page=${result.page})}'|"></td>
                <td th:text="${form.member?.realName}"></td>
                <td th:text="${#temporals.format(form.create_at,'yyyy년 MM월 dd일 HH시 mm분')}"></td>
                <td th:text="${form.viewCount}"></td>
                <td><img th:if=${form.thumbnailName} th:src="@{/files/image/} + ${form.thumbnailName}"/></td>
                <td>
                    <a th:if="${member?.loginId == form.member?.loginId}" href="#"
                       th:href="@{|/board/list/${form.id}/change|}"
                       class="btn btn-danger">수정</a>
                </td>
                <td>
                    <button th:if="${member.loginId == form.member?.loginId} or ${member?.grade == T(sws.NoticeBoard.domain.Grade).ADMIN}"
                            th:boardParam="${form.id}"
                            th:onclick="deleteCheck(this.getAttribute('boardParam'))"
                            class="btn btn-danger">삭제
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <ul class="pagination h-100 justify-content-center align-items-center">

            <li class="page-item " th:if="${result.prev}">
                <a class="page-link" th:href="@{/board/list(page= ${result.start -1}) }" tabindex="-1">Previous</a>
            </li>

            <li th:class=" 'page-item ' + ${result.page == page?'active':''} " th:each="page: ${result.pageList}">
                <a class="page-link" th:href="@{/board/list(page = ${page})}">
                    [[${page}]]
                </a>
            </li>

            <li class="page-item" th:if="${result.next}">
                <a class="page-link" th:href="@{/board/list(page= ${result.end + 1})}">Next</a>
            </li>

        </ul>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
<script>
    function deleteCheck(id) {
     const param = id;
     console.log(param);
    if (confirm("정말 삭제하시겠습니까??") == true){    //확인
    let f = document.createElement('form');
    f.setAttribute('method', 'post');
    f.setAttribute('action', "/board/list/"+param+"/delete");
    document.body.appendChild(f);
    f.submit();
    }else{   //취소
    return false;
    }
    }
</script>
</body>
</html>