<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <div>
    <table class="table table-striped">
      <thead>
      <tr style="text-align:center">
        <th>번호</th>
        <th>제목</th>
        <th>글쓴이</th>
        <th>작성일</th>
        <th>조회</th>
        <th>수정</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="form : ${boards}">
        <td th:text="${form.id}" th:onclick="|location.href='@{/board/list/{id}(id=${form.id})}'|"></td>
        <td th:text="${form.title}" th:onclick="|location.href='@{/board/list/{id}(id=${form.id})}'|"></td>
        <td th:text="${form.member?.realName}"></td>
        <td th:text="${#temporals.format(form.create_at,'yyyy년 MM월 dd일 HH시 mm분')}"></td>
        <td th:text="${form.viewCount}"></td>
        <td>
          <a th:if="${session.loginMember?.loginId == form.member?.loginId}" href="#"
             th:href="@{|/board/list/${form.id}/change|}"
             class="btn btn-danger">수정</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>