<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <title>Hello</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<style>
  #editor-container {
  height: 375px;
}
  .my_btn {
	  background-color: skyblue;
	  color: white;
	  border: none;
	  width: 100px;
	  height: 30px;
	}
.fieldError {
border-color: #bd2130;
color: #dc3545;
}
.field-error {
border-color: #dc3545;
    color: #dc3545;
}
</style>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <div class="jumbotron">
    <h1>HELLO NoticeBoard</h1>
    <p class="lead">회원 기능</p>
    <!-- Include Quill stylesheet -->
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet" />

    <div id="form-container" class="container">
      <form th:action="@{|/board/list/*{id}/change|}" th:object="${boardForm}" method="POST">
        <div th:if="${#fields.hasGlobalErrors()}">
          <p class="fieldError" th:each="err : ${#fields.globalErrors()}"
             th:text="${err}">전체 오류 메시지</p>
        </div>

        <div align="right">
          <button class="my_btn" type="submit">저장</button>
          <input type="text" th:field="*{title}" class="form-control" placeholder="제목을 입력하세요" id="title" name="title" th:errorclass="fieldError">
          <div class="field-error" th:errors="*{title}" />

        </div>
        <!-- Create the editor container -->
        <div  id="editor-container">
        </div>
        <input type="hidden" th:field="*{content}" class="form-control" id="content" name="content">

      </form>
    </div>

    <!-- Include the Quill library -->
    <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>

    <!-- Initialize Quill editor -->
    <script>
    const content = document.getElementById('content').value;
    var quill = new Quill('#editor-container', {
    modules: {
    toolbar: [
    [{ header: [1, 2, false] }],
    ['bold', 'italic', 'underline'],
    ['indent', 'align', 'code-block']
    ]
    },
    placeholder: 'Compose an epic...',
    theme: 'snow'  // or 'bubble'
    });

    const selection = quill.getSelection(true)
    quill.insertText(selection.index, content) // 셀렉션 위치

    quill.on('text-change', function() {
        document.getElementById("content").value = quill.getText();
});

<!--글자수 5000자 제한(넘길 시 글자 제거)-->
const maxLength = 5000

quill.on('editor-change', e => {
	const length = quill.getLength()
	if (length > maxLength) quill.deleteText(maxLength, length)
})


</script>

  </div>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>