<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<style>
.fieldError {
border-color: #bd2130;
color: #dc3545;
}
.field-error {
border-color: #dc3545;
    color: #dc3545;
}
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <h1>회원 정보 변경</h1>
    </div>
    <form role="form" action="/member/id/find" th:object="${memberIdFindForm}"
          method="post">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="fieldError" th:each="err : ${#fields.globalErrors()}"
               th:text="${err}">전체 오류 메시지</p>
        </div>
        <div class="form-group">
            <label th:for="realName">이름</label>
            <input type="text" th:field="*{realName}" class="form-control" placeholder="이름을 입력하세요" th:errorclass="fieldError">
            <div class="field-error" th:errors="*{realName}" />
        </div>
        <div class="form-group email-form">
            <label th:for="email">이메일</label>
            <div class="input-group">
                <input type="text" th:field="*{email}" class="form-control" name="userEmail1" id="userEmail1" placeholder="이메일을 입력하세요" th:errorclass="fieldError">
                <div class="input-group-addon">
                    <button type="button"  class="btn btn-primary" id="mail-Check-Btn">본인인증</button>
                </div>
                <div class="mail-check-box">
                    <input class="form-control mail-check-input" placeholder="인증번호 10자리를 입력해주세요!" disabled="disabled" maxlength="10">
                </div>
                <span id="mail-check-warn"></span>
            </div>
            <div class="field-error" th:errors="*{email}" />
        </div>
        <input type="hidden" th:field="*{checkedEmail}" class="form-control" id="checkedEmail" name="checkedEmail" value="."/>
        <input type="checkbox" th:field="*{emailConfirm}" class="form-control" id="emailConfirm" name="emailConfirm"  value="false" style="display:none" checked="false" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript">
 $('#mail-Check-Btn').click(function() {
		const email = $('#userEmail1').val();; // 이메일 주소값 얻어오기!
		console.log('완성된 이메일 : ' + email); // 이메일 오는지 확인
		const checkInput = $('.mail-check-input') // 인증번호 입력하는곳
		const checkEmail = $('.checkedEmail') // 인증이메일 확인용
		$('#emailConfirm').prop('checked', false);
	    const confirm = $('#emailConfirm').val();

		$.ajax({
			type : 'post',
            url : '/login/mail/confirm',
            data : 'email='+email,
			success : function (data) {
				console.log("data : " +  data);
				checkInput.attr('disabled',false);
				document.getElementById("checkedEmail").value=email;
				code =data;
				alert('인증번호가 전송되었습니다.')
			}
		}); // end ajax
	}); // end send email

	// 인증번호 비교
	// blur -> focus가 벗어나는 경우 발생
	$('.mail-check-input').blur(function () {
		const inputCode = $(this).val();
		const $resultMsg = $('#mail-check-warn');

		if(inputCode === code){
			$resultMsg.html('인증번호가 일치합니다. 회원 가입이 가능합니다!.');
			$resultMsg.css('color','green');
			$('#mail-Check-Btn').attr('disabled',true);
			$('#userEmail1').attr('readonly',true);
			document.getElementById("emailConfirm").checked="true";
			console.log("emailConfirm : " +  confirm);
		}else{
			$resultMsg.html('인증번호가 불일치 합니다. 다시 확인해주세요!.');
			$resultMsg.css('color','red');
		}
	});
</script>
</html>